<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verification mail for registration</title>
    <meta charset="UTF-8" />
</head>
<body style="font-family: sans-serif;">
<div
        style="">
    <div style="background-color: #fff; height: 594px; width: 500px; border: 5px solid lightgray;">
        <div style="text-align: center; padding-top: 18px;">
            <img alt=""
                 src="https://pbs.twimg.com/profile_images/874996574811770880/-p-n0XEA_400x400.jpg"
                 width="70" height="73" />
        </div>
        <div
                style="width: 500px; position: relative; height: 145px; background-color: #000; margin-top: 21px; padding-top: 56px; text-align: center;">

            <img alt=""
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/1024px-Yes_Check_Circle.svg.png"
                 style="" width="60" height="60" />


            <p style="color: #fff; font-size: 14px;">
                <span>Verify Your Account</span>
            </p>

        </div>
        <div style="font-size: 14px;">
            <p style="margin-left: 13px;">Your account information</p>
            <p style="margin-left: 13px;">
                Account <span style="margin-left: 36px;" th:text="${to}">to</span>
            </p>
        </div>

        <div
                style="text-align: center; padding-top: 15px; padding-bottom: 9px;">
            <a  name="verify" th:href="@{${url}}" target="_blank"
                style="padding:10px;background: #DB2828; outline: 0; border: 0; cursor: pointer; color: #fff; box-shadow: 0px 4px 5px 0px Gray !important; height: 45px; width: 199px; border-radius: 4px; font-size: 12px; text-transform: uppercase; text-decoration: none;">Verify
                Your Account</a>

        </div>
        <div style="padding-left: 13px; font-size: 14px;margin-top: 18px">
				<span>If you have any trouble to verify your account please
					feel free to contact us</span> <span> thanks </span>
        </div>
        <div
                style="background-color: gray; width: 500px; height: 59px; margin-top: 6px; text-align: -webkit-center; padding-top: 20px; font-size: 11px; color: #fff;">
				<span>you have receiving this mail because you have an
					account in group two online application . </span><span> you are not sure why
					you'r receiving this,please contact us</span>

        </div>
    </div>
</div>
</body>

</html>